<div class="page-width shots-form">
  <div class="section-header text-center">
    <h2 class="maintitle">SHOTS SUBSCRIPTION</h2>
  </div>
  <div class="grid grid--uniform grid--flush-bottom question enable" id="question1" data-aos="row-of-2">
      <h1 class="second-title text-center"><div class="hr"></div> Step 1</h1>
      <p>Select Your Package? <strong>(Per Delivery $118)</strong></p>
      <div class="grid__item medium-up--one-half text-center aos-init aos-animate alpha thumbnail even" data-question="12 Shots Every 2 Weeks">
        <a data-scroll href="#question2" class="auto-scroll" style="padding: 0;">
          <div class="option-box text-center">
            <span class="icon-space">
              <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            </span>
            <span class="content-space">
              <h3 class="option-title">12 Shots<br>Every 2 Weeks</h3>
            </span>
          </div>
        </a>
      </div>
      <div class="grid__item medium-up--one-half text-center aos-init aos-animate thumbnail odd" data-question="24 Shots Weekly">
        <a data-scroll href="#question2" class="auto-scroll" style="padding: 0;">
          <div class="option-box text-center">
            <span class="icon-space">
              <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            </span>
            <span class="content-space">
              <h3 class="option-title">24 Shots<br>Weekly</h3>
            </span>
          </div>
        </a>
      </div>
  </div>
  <script>
      $(document).ready(function() {
        $('.shots-form #question1').each(function(){
          $('#question1 .thumbnail').click(function(e){
            $('#question1 .thumbnail').removeClass('active');
            $('#question1 .thumbnail a.auto-scroll').removeClass('active');
            $(this).addClass('active').children('a.auto-scroll').addClass('active');
            $('#question2').addClass('enable').removeClass('disable');
            var question1 = $(this).data("question");
            $('.question1input').val(question1).attr("value", question1);
            $('#question2 a').attr("href", '#question3');
            $('.product-page').hide();
            var question1 = $('.question1input').val().toLowerCase().replace(/\s+/g, "-");
            var question3 = $('.question3input').val().toLowerCase().replace(/\s+/g, "-");
            var handle = ('product-' + question1 + '-' + question3);
            $('#button-container').attr("data-form", handle);
            $('#'+handle).show();
          });
        });
      });
  </script>
  <div class="grid grid--uniform grid--flush-bottom question disable" id="question2" data-aos="row-of-2">
      <h1 class="second-title text-center"><div class="hr"></div>Step 2</h1>
      <p>Select Your delivery day</p>
      <div class="grid__item medium-up--one-half text-center aos-init aos-animate alpha thumbnail even" data-question="{{ section.settings.title1 | escape }}">
        <a data-scroll href="javascript:void(0);" class="auto-scroll recommended">
          <div class="option-box text-center">
            <span class="icon-space">{% if section.settings.image1 != blank %}
              <img src="{{ section.settings.image1 | img_url: '100x100' }}" alt="{{ section.settings.image1.alt }}">{% else %}
              <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100px" height="100px">    <path d="M 6 1 L 6 3 L 5 3 C 3.9 3 3 3.9 3 5 L 3 19 C 3 20.1 3.9 21 5 21 L 19 21 C 20.1 21 21 20.1 21 19 L 21 5 C 21 3.9 20.1 3 19 3 L 18 3 L 18 1 L 16 1 L 16 3 L 8 3 L 8 1 L 6 1 z M 5 8 L 19 8 L 19 19 L 5 19 L 5 8 z"/></svg>{% endif %}
            </span>
            <h3 class="option-title">{{ section.settings.title1 }}</h3>
            <p></p>
          </div>
        </a>
      </div>
      <div class="grid__item medium-up--one-half text-center aos-init aos-animate omega thumbnail odd" data-question="{{ section.settings.title2 | escape }}">
        <a data-scroll href="javascript:void(0);" class="auto-scroll">
          <div class="option-box text-center">
            <span class="icon-space">{% if section.settings.image2 != blank %}
              <img src="{{ section.settings.image2 | img_url: '100x100' }}" alt="{{ section.settings.image2.alt }}">{% else %}
              <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100px" height="100px">    <path d="M 6 1 L 6 3 L 5 3 C 3.9 3 3 3.9 3 5 L 3 19 C 3 20.1 3.9 21 5 21 L 19 21 C 20.1 21 21 20.1 21 19 L 21 5 C 21 3.9 20.1 3 19 3 L 18 3 L 18 1 L 16 1 L 16 3 L 8 3 L 8 1 L 6 1 z M 5 8 L 19 8 L 19 19 L 5 19 L 5 8 z"/></svg>{% endif %}
            </span>
            <h3 class="option-title">{{ section.settings.title2 }}</h3>
            <p></p>
          </div>
        </a>
      </div>
  </div>
  <script>
      $(document).ready(function() {
        $('.shots-form #question2').each(function(){
          $('#question2 .thumbnail').click(function(e){
            $('#question2 .thumbnail').removeClass('active');
            $('#question2 .thumbnail a.auto-scroll').removeClass('active');
            $(this).addClass('active').children('a.auto-scroll').addClass('active');
            var question2 = $(this).data("question");
            $('.question2input').val(question2).attr("value", question2);
            var question1 = $('.question1input').val();
            $('#question3').addClass('enable').removeClass('disable');
            $('#question3 a').attr("href", '#question3');
          });
        });
      });
  </script>
  <div class="grid grid--uniform grid--flush-bottom question disable" id="question3" data-aos="row-of-3">
      <h1 class="second-title text-center"><div class="hr"></div>Step 3</h1>
      <p>Select Interval</p>
      <div class="grid__item medium-up--one-third text-center aos-init aos-animate alpha thumbnail even" data-question="Monthly">
        <a data-scroll href="javascript:void(0);" class="auto-scroll best-seller">
          <div class="option-box text-center">
            <span class="icon-space">
              <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            </span>
            <h3 class="option-title">Monthly <span class="save-percent">(save 15%)</span></h3>
          </div>
        </a>
      </div>
      <div class="grid__item medium-up--one-third text-center aos-init aos-animate thumbnail odd" data-question="3 Months">
        <a data-scroll href="javascript:void(0);" class="auto-scroll">
          <div class="option-box text-center">
            <span class="icon-space">
              <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            </span>
            <h3 class="option-title">3 Months <span class="save-percent">(save 20%)</span></h3>
          </div>
        </a>
      </div>
      <div class="grid__item medium-up--one-third text-center aos-init aos-animate omega thumbnail even" data-question="6 Months" style="background-image: url(//cdn.shopify.com/s/files/1/0002/4179/5099/files/best_value.png?141548);background-position: 75% 10px;background-repeat: no-repeat;background-size: 35px;">
        <a data-scroll href="javascript:void(0);" class="auto-scroll">
          <div class="option-box text-center">
            <span class="icon-space">
              <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            </span>
            <h3 class="option-title">6 Months <span class="save-percent">(save 30%)</span></h3>
          </div>
        </a>
      </div>
  </div>
  <script>
      $(document).ready(function() {
        $('.shots-form #question3').each(function(){
          $('#question3 .thumbnail').click(function(e){
            $('#question3 .thumbnail').removeClass('active');
            $('#question3 .thumbnail a.auto-scroll').removeClass('active');
            $(this).addClass('active').children('a.auto-scroll').addClass('active');
            $('#button-container').addClass('enable').removeClass('disable');
            $('#question3 a').attr("href", '#button-container');
            var question3 = $(this).data("question");
            $('.question3input').val(question3).attr("value", question3);
            $('.product-page').hide();
            var question1 = $('.question1input').val().toLowerCase().replace(/\s+/g, "-");
            var question3 = $('.question3input').val().toLowerCase().replace(/\s+/g, "-");
            var handle = ('product-' + question1 + '-' + question3);
            $('#button-container').attr("data-form", handle);
            $('#'+handle).show();
          });
        });
      });
  </script>
  <div class="grid grid--uniform grid--flush-bottom disable button-container" id="button-container" data-form="">
    <input type="hidden" name="properties[Package]" class="question1input" value="" />
    <input type="hidden" name="properties[Delivery]" class="question2input" value="" />
    <input type="hidden" name="properties[Interval]" class="question3input" value="" />
    <div class="grid__item medium-up--one-whole text-center aos-init aos-animate omega thumbnail odd">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     {%- assign products = '24-shots-weekly-monthly,12-shots-every-2-weeks-monthly,24-shots-weekly-3-months,12-shots-every-2-weeks-3-months,24-shots-weekly-6-months,12-shots-every-2-weeks-6-months' | split: ',' -%}                                                                                                                                                                                                                                              
        {% for product_url in products %}{% include 'subscription-form' %}{% endfor %}
    </div>
    <div class="grid__item medium-up--one-whole text-center aos-init aos-animate alpha thumbnail even">
        <div class="prod-trust__msg">Secure and trusted checkout with:</div><div class="prod-trust__badges"><img class="lazyautosizes lazyloaded" src="{{'trusted-badges.png' | asset_img_url: '320x'}}"></div>
    </div>
  </div>
</div>
<style>
#rc_container {
    display: none !important;
}
#shopify-section-socks-subscription {
    margin: 50px 0;
}
.shots-form {
    padding: 50px 0;
}
.disable.button-container, .question.disable {
    display: none;
}
.question, .button-container {
    /*max-width: 500px;*/
    margin: 50px 15%;
}
.shots-form p {
    text-align: center;
    font-size: 19px;
}
.shots-form .option-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.second-title {
    color: #562462;
    font-weight: bold;
}
.second-title .hr {
    width: 75px;
    height: 4PX;
    vertical-align: middle;
    background-color: #ddd;
    display: inline-block;
    margin-top: -5px;
    margin-right: 15px;
}
.question .thumbnail a {
    display: block;
    border: 1px solid #ddd;
}
.question .thumbnail a.active {
    border: 1px solid #000;
}
.shots-form .icon-space {
    display: block;
    padding: 15px;
}
.button-container #AddToCart {
    width: 100%;
}
.button-container select {
    color: #000;
    padding: 6px;
}
.shots-form span.save-percent {
    color: #562462;
    text-transform: lowercase;
    font-size: 12px !important;
    display: block;
    margin-top: 5px;
}
.button-container span.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #562462;
}
.button-container span.percent-off {
    background: #21b917;
    color: #fff;
    padding: 8px 15px;
    margin-left: 10px;
}
.button-container form[action^="/cart/add"] [type=submit] {
    text-transform: uppercase;
    width: 100%;
    max-width: 300px;
    background: #562462;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 17px !important;
    text-decoration: none;
    margin-top: 20px;
    line-height: 48px;
    -webkit-transition: background 0.3s ease,color 0.3s ease;
    -moz-transition: background 0.3s ease,color 0.3s ease;
    -o-transition: background 0.3s ease,color 0.3s ease;
    transition: background 0.3s ease,color 0.3s ease;
    -webkit-appearance: none;
}
.button-container form[action^="/cart/add"] [type=submit]:hover {
    background: #b9de30;
    color: #000;
}
@media only screen and (min-width: 590px) {
  
}
@media only screen and (max-width: 589px) {
  .shots-form .grid__item {
    padding-left: 0;
  }
}
</style>

<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript">var scroll = new SmoothScroll('a[href*="#"]', { speed: 800, speedAsDuration: true, offset: 100, updateURL: false });</script>

{% schema %}
  {
    "name": "Shots Subscription",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "title1",
        "label": "Option 1 Text",
        "default": "Anything 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Option 2 Text",
        "default": "Anything 2"
      }
    ],
    "presets": [
      {
        "name": "Shots Subscription",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}
