<div class="gridlock"><div class="product clearfix">
<div class="text-center">
  <div class="main-title">Subscription<br>Options</div>
  <div class="coffee-club-form">
    <div class="row question enable" id="question1">
      <h1 class="second-title"><div class="hr"></div>1</h1>
      <p>This subscription is for?</p>
      <div class="desktop-6 tablet-3 mobile-half alpha thumbnail even" data-question="For Me">
        <a data-scroll href="#question2" class="auto-scroll" style="padding: 0;">
          <div class="option-box text-center">
            <span class="icon-space">
              <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            </span>
            <span class="content-space">
              <h3 class="option-title">For Me</h3>
            </span>
          </div>
        </a>
      </div>
      <div class="desktop-6 tablet-3 mobile-half thumbnail odd" data-question="A Gift">
        <a data-scroll href="#question2" class="auto-scroll" style="padding: 0;">
          <div class="option-box text-center">
            <span class="icon-space">
              <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            </span>
            <span class="content-space">
              <h3 class="option-title">A Gift</h3>
            </span>
          </div>
        </a>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.coffee-club-form #question1').each(function(){
          $('#question1 .thumbnail').click(function(e){
            $('#question1 .thumbnail').removeClass('active');
            $('#question1 .thumbnail a.auto-scroll').removeClass('active');
            $(this).addClass('active').children('a.auto-scroll').addClass('active');
            $('#question2').addClass('enable').removeClass('disable');
            var question1 = $(this).data("question");
            $('.question1input').val(question1).attr("value", question1);
            $('.product-page').hide();
            if (question1 == 'For Me') {
              $('#question2 a').attr("href", '#button-container');
              $('#question3').addClass('disable').removeClass('enable');
              $('.question3input').val('Monthly').attr("value", 'Monthly');
            } else if (question1 == 'A Gift') {
              $('#question2 a').attr("href", '#question3');
            }
          });
        });
      });
    </script>
    <div class="row question disable" id="question2">
      <h1 class="second-title"><div class="hr"></div>2</h1>
      <p>Tell Us About Yourself</p>
      <div class="desktop-6 tablet-3 mobile-half alpha thumbnail even" data-question="{{ section.settings.title1 | escape }}">
        <a data-scroll href="javascript:void(0);" class="auto-scroll recommended">
          <div class="option-box text-center">{% if section.settings.image1 != blank %}
            <img src="{{ section.settings.image1 | img_url: '100x100' }}" alt="{{ section.settings.image1.alt }}">{% else %}
            <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>{% endif %}
            <h3 class="option-title">{{ section.settings.title1 }}</h3>
          </div>
        </a>
      </div>
      <div class="desktop-6 tablet-3 mobile-half omega thumbnail odd" data-question="{{ section.settings.title2 | escape }}">
        <a data-scroll href="javascript:void(0);" class="auto-scroll">
          <div class="option-box text-center">{% if section.settings.image2 != blank %}
            <img src="{{ section.settings.image2 | img_url: '100x100' }}" alt="{{ section.settings.image2.alt }}">{% else %}
            <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>{% endif %}
            <h3 class="option-title">{{ section.settings.title2 }}</h3>
          </div>
        </a>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.coffee-club-form #question2').each(function(){
          $('#question2 .thumbnail').click(function(e){
            $('#question2 .thumbnail').removeClass('active');
            $('#question2 .thumbnail a.auto-scroll').removeClass('active');
            $(this).addClass('active').children('a.auto-scroll').addClass('active');
            var question2 = $(this).data("question");
            $('.question2input').val(question2).attr("value", question2);
            var question1 = $('.question1input').val();
            if (question1 == 'For Me') {
              $('#button-container').addClass('enable').removeClass('disable');
              $('#question3').addClass('disable').removeClass('enable');
              $('#question3 a').attr("href", '#button-container');
              $('#product-socks-subscription-monthly').show();
            } else if (question1 == 'A Gift') {
              $('#question3').addClass('enable').removeClass('disable');
              $('#question3 a').attr("href", '#question3');
              $('#product-socks-subscription-monthly').hide();
            }
          });
        });
      });
    </script>
    
    <div class="row question disable" id="question3">
      <h1 class="second-title"><div class="hr"></div>3</h1>
      <p>Select Your Plan</p>
      <div class="desktop-4 tablet-2 mobile-1 alpha thumbnail even" data-question="3 Months" data-handle="product-socks-subscription-3-month">
        <a data-scroll href="javascript:void(0);" class="auto-scroll best-seller">
          <div class="option-box text-center">
            <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            <h3 class="option-title">3 Months</h3>
          </div>
        </a>
      </div>
      <div class="desktop-4 tablet-2 mobile-1 thumbnail odd" data-question="6 Months" data-handle="product-socks-subscription-6-month">
        <a data-scroll href="javascript:void(0);" class="auto-scroll">
          <div class="option-box text-center">
            <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            <h3 class="option-title">6 Months</h3>
          </div>
        </a>
      </div>
      <div class="desktop-4 tablet-2 mobile-1 omega thumbnail even" data-question="12 Months" data-handle="product-socks-subscription-12-month" style="background-image: url(//cdn.shopify.com/s/files/1/0002/4179/5099/files/best_value.png?141548);background-position: right top;background-repeat: no-repeat;">
        <a data-scroll href="javascript:void(0);" class="auto-scroll">
          <div class="option-box text-center">
            <svg width="100px" height="100px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" opacity="1.00" d=" M 58.74 25.73 C 59.85 25.24 61.06 25.44 62.16 25.85 C 75.43 30.61 88.73 35.31 102.03 39.98 C 104.06 40.80 106.66 41.10 107.73 43.28 C 111.01 48.75 114.30 54.20 117.51 59.71 C 118.11 60.68 118.91 61.47 119.88 62.10 C 119.58 62.75 118.99 64.05 118.69 64.70 C 115.23 66.50 111.42 67.48 107.79 68.85 C 107.75 79.26 107.85 89.69 107.76 100.10 C 107.94 103.16 104.25 103.49 102.16 104.41 C 88.12 109.56 73.73 113.94 59.99 119.77 C 58.40 119.12 56.99 118.12 55.38 117.53 C 42.08 112.91 28.84 108.11 15.54 103.47 C 13.94 102.97 11.93 102.05 12.24 100.00 C 12.17 87.58 12.22 75.15 12.23 62.73 C 8.68 63.53 4.82 66.97 1.26 64.65 C 0.96 64.01 0.38 62.74 0.08 62.10 C 2.46 60.69 3.36 57.98 4.78 55.77 C 7.32 51.63 9.71 47.40 12.30 43.29 C 13.00 41.85 14.59 41.38 15.97 40.87 C 30.25 35.87 44.50 30.80 58.74 25.73 M 62.79 31.99 C 62.78 40.03 62.79 48.08 62.79 56.13 C 74.06 52.02 85.39 48.09 96.68 44.02 C 85.35 40.11 74.06 36.08 62.79 31.99 M 17.79 47.93 C 17.78 64.69 17.79 81.45 17.79 98.20 C 30.91 102.98 44.14 107.45 57.23 112.29 C 57.19 95.53 57.22 78.76 57.21 61.99 C 44.09 57.25 30.90 52.71 17.79 47.93 M 64.05 61.58 C 66.95 66.11 69.74 70.70 72.36 75.39 C 85.63 70.76 98.85 65.97 112.10 61.29 C 109.25 56.73 106.43 52.15 103.81 47.45 C 90.53 52.10 77.27 56.80 64.05 61.58 M 71.02 81.65 C 66.81 79.27 65.67 73.71 62.77 70.02 C 62.80 84.14 62.79 98.26 62.78 112.39 C 75.89 107.60 89.09 103.07 102.21 98.31 C 102.22 89.11 102.20 79.91 102.23 70.71 C 91.85 74.42 81.51 78.27 71.02 81.65 Z" /></svg>
            <h3 class="option-title">12 Months</h3>
          </div>
        </a>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.coffee-club-form #question3').each(function(){
          $('#question3 .thumbnail').click(function(e){
            $('#question3 .thumbnail').removeClass('active');
            $('#question3 .thumbnail a.auto-scroll').removeClass('active');
            $(this).addClass('active').children('a.auto-scroll').addClass('active');
            $('#button-container').addClass('enable').removeClass('disable');
            $('#question3 a').attr("href", '#button-container');
            var question3 = $(this).data("question");
            var handle = $(this).data("handle");
            $('.question3input').val(question3).attr("value", question3);
            $('.product-page').hide();
            $('#'+handle).show();
          });
        });
      });
    </script>
    <div class="row disable button-container" id="button-container">
      <div class="desktop-12 tablet-6 mobile-3 omega thumbnail odd">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        {% assign products = 'socks-subscription-monthly,socks-subscription-3-month,socks-subscription-6-month,socks-subscription-12-month' | split: ',' %}                                                                                                                                                                                                                                              
        {% for product_url in products %}{% include 'subscription-form' %}{% endfor %}
      </div>
      <div class="desktop-12 tablet-6 mobile-3 alpha thumbnail even">
        <div class="prod-trust__msg">Secure and trusted checkout with:</div><div class="prod-trust__badges"><img class="lazyautosizes lazyloaded" src="{{'trusted-badges.png' | asset_img_url: '320x'}}"></div>
      </div>
    </div>
    
  </div>
  </div></div>
</div>
<style>
#rc_container {
    display: none !important;
}
#shopify-section-socks-subscription {
    margin: 50px 0;
}

.disable.button-container, .question.disable {
    display: none;
}
.question, .button-container {
    max-width: 500px;
    margin-top: 50px;
}
.second-title .hr {
    width: 75px;
    height: 4PX;
    vertical-align: middle;
    background-color: #ebebeb;
    display: inline-block;
    margin-top: -10px;
    margin-right: 15px;
}
.question .thumbnail {
    border: 1px solid #ddd;
}
.button-container #AddToCart {
    width: 100%;
}
.button-container select {
    color: #000;
    padding: 6px;
}
.button-container form[action^="/cart/add"] [type=submit] {
    text-transform: uppercase;
}
@media (min-width: 741px) {
  .main-title, .second-title {
    font-size: 90px !important;
    line-height: 90px !important;
  }
}
@media (max-width: 740px) {
  .main-title, .second-title {
    font-size: 60px !important;
    line-height: 60px !important;
  }
}
</style>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript">
var scroll = new SmoothScroll('a[href*="#"]', {
    speed: 800,
    speedAsDuration: true,
    offset: 100,
    updateURL: false
});
</script>
{% schema %}
  {
    "name": "Socks Subscription",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "title1",
        "label": "Option 1 Text",
        "default": "Anything 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Option 2 Text",
        "default": "Anything 2"
      }
    ]
  }
{% endschema %}
